html { 
  background: url(../img/lego1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    margin: 0;
}

.header {
    background-color: rgba(0,0,0,.6);
    height: 440px;
    width: 100%;
    z-index: 0;
}

.main-container {
    background-color: #fff;
    width: 100%;
    z-index: 1;
    margin: 0;
}

.content-container {
    max-width: 640px;
    margin: 0 auto;
    padding: 40px 10px;

}

.hero-title {
    color: #fff;
    font-family: 'Roboto Slab', sans-seirf;
    font-size: 48px;
    margin: 0 auto;
    max-width: 640px;
    text-align: center;
    padding-top: 150px;
}
.parragraph-top {
    color: #fff;
    font-family: sans-seirf;
    font-size: 18px;
    margin: 0 auto;
    max-width: 640px;
    text-align: center;
    padding-top: 5px;
    font-weight: 200;
}

.mybutton {
    border: 2px solid white;
    border-radius:7px;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:20px;
    padding:11px 50px;
    text-decoration:none;
    display: block;
    max-width: 100px;
    margin: 40px auto;
    text-align: center;
    transition: background-color 0.8s;
}

.mybutton:hover {
    color: #BFBFBF;
    cursor: pointer;
    border: 2px solid #BFBFBF;
}

.title-article {
    color: #2d2d2d;
    font-family: 'Open Sans', 'Helvetica', sans-seirf;
    font-size: 28px;
}

.main-text {
    color: #717172;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    line-height: 180%;
}
























